.DS_Store
__pycache__/bot.cpython-311.pyc
__pycache__/bot.cpython-312.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/image_help.cpython-311.pyc
__pycache__/llm_help.cpython-311.pyc
__pycache__/minesweeper.cpython-311.pyc
__pycache__/player.cpython-311.pyc
__pycache__/shark.cpython-311.pyc
__pycache__/snake.cpython-311.pyc
__pycache__/tts_request.cpython-311.pyc
data/count.json
data/debt.json
extensions/old_music.py
extensions/__pycache__/america.cpython-311.pyc
extensions/__pycache__/eat.cpython-311.pyc
extensions/__pycache__/misc.cpython-311.pyc
extensions/__pycache__/music.cpython-311.pyc
extensions/__pycache__/old_music.cpython-311.pyc
extensions/__pycache__/shark.cpython-311.pyc
extensions/__pycache__/snake.cpython-311.pyc
extensions/__pycache__/tts.cpython-311.pyc
snake_gatcha/inventories.json
data/count.json
data/debt.json
snake_gatcha/inventories.json
extensions/__pycache__/automsg.cpython-311.pyc
data/automsg.json
data/tts_history.json
data/w2v.model
